<form action="{{ path('app_advert_popular') }}">
    <input type="search" name="q" placeholder="Rechercher..." aria-label="Search">
    <button class="btn btn-outline-dark" type="submit">Rechercher</button>
</form>