{% extends 'base.html.twig' %}

{% block title %}Le Mauvais Coin!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    Toutes les annonces sont référencées ici:
    <ul>
        {% for advert in adverts %}
        <li><a href="./advert/{{ advert.id }}">{{ advert.title }}</href></li>
    {% endfor %}
    </ul>
</div>
{%if app.user %}
    <div class="example-wrapper">
    <a href="/advert/add"><button>Poster une annonce</button></a>
</div>
{%endif%}
{{ form(form) }}


{% endblock %}
